/* --------------------------------------------------------------------------- */
/* ----------------------- Modal CSS ----------------------------------------- */
/* --------------------------------------------------------------------------- */

.modal-container {
    background-color: rgba(0,0,0,0.4);
    display: none;
    position: fixed;
    width: 100%;
    height:auto;
}

.modal-body {

}

.content-head{

}

.header-title{

}

.header-content{

}

/* --------------------------------------------------------------------------- */
/* ----------------------- End Modal ----------------------------------------- */
/* --------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------- */
/* -------------------- result Cards CSS ------------------------------------- */
/* --------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------- */
/* -------------------- END result Cards ------------------------------------- */
/* --------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------- */
/* -------------------- Shopping Cart CSS ------------------------------------ */
/* --------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------- */
/* -------------------- END Shopping Cart ------------------------------------ */
/* --------------------------------------------------------------------------- */