body{
    background-color: wheat;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.nav-wrapper{
    background-color: teal;
}

fieldset{
    border-radius: 5px;
    border-width: 3px;
    border-color: teal;
    color: grey;
}
::-webkit-input-placeholder{
    color: teal !important;
}

input[type="text"]
{
    color: teal;
}

main{
    flex: 1 0 auto;
}
      
.main-search-bar{
  display: flex;
  justify-content: start;
  align-content: center;
  align-items: center;
}
img.responsive-img.tiles{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#recipename{
    font-weight: bold;
}
#recipename:hover{
    color: brown;
}

.row.search{
    margin-top: 33px;
}

button,#advanced-search-button,.waves-effect,.waves-light,.btn{
    margin-top: 10px;
    object-position: center;
    background-color: #C1382A;
}
.Image-size{
  max-width:200px;
  height:auto;
}